:root {
    --color01: #000000;
    --color02: #010b24;
    --color03: #14213d;
    --color04: #fca311;
    --color05: #e5e5e5;
}

body {
    margin: 0;
    padding: 0;
    cursor: default;
}

.LinkButton {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
    background-color: var(--color04);
    
    text-align: center;
    font-size: 8px;
    color: var(--color05);

    opacity: 0.75;
    transition-duration: 0.25s;
}

.LinkButton:hover {
    opacity: 1;
    transition-duration: 0.25s;
}

#MainRoot {
    display: flex;
    flex-direction: column;
    z-index: 0;
    overflow-x: hidden;
}

#MainBar {
    position: fixed;
    top: 0vh;
    left: 0vw;
    height: 10vh;
    width: 100vw;
    
    z-index: 1;
    
    background-color: var(--color01);
    
    text-align: center;
    font-size: 12px;
    color: var(--color05);
}

#MainBar #MainButton {
    position: inherit;
    top: 0;
    left: 0;
    height: 4vh;
    min-width: 12vw;
    margin: 2vh;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    background-color: var(--color04);
    border-radius: 1vh;
    padding: 1vh 1vh 1vh 1vh;

    text-align: center;
    font-size: 10px;
    color: var(--color01);

    opacity: 0.75;
    transition-duration: 0.25s;
}

#MainBar #MainButton:hover {
    opacity: 1;
    transition-duration: 0.25s;
}

#MainBar #MainContacts {
    position: inherit;
    top: 0;
    right: 0;
    height: 8vh;
    min-width: 12vw;
    margin: 1vh;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 0;
    
    opacity: 0.75;
}

#MainBar #MainContacts .Image {
    padding: 1vh;
    width: 5vh;
}

#MainBar .Sidebar {
    position: fixed;
    top: 10vh;
    min-height: 10vh;
    width: 12vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
    
    background-color: transparent;
    
    text-align: center;
    font-size: 12px;
    color: var(--color05);
}

#MainBar .Sidebar[active="true"] {
    left: 0vw;

    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

#MainBar .Sidebar[active="false"] {
    left: -15vw;
    
    transition-property: left;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

#MainBar .Sidebar .LinkButton {
    min-height: 6vh;
    width: 12vw;

    border: 2px solid var(--color03);
}

#MainHeader {
    position: relative;
    height: 70vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    z-index: -1;
    
    background-color: var(--color05);
    
    color: var(--color05);
}

.Background {
    position: absolute;
    height: inherit;
    width: inherit;
    
    display: flex;
    flex-direction: column;
    z-index: 1;
    
    background-image: url('./asset/warpy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

#MainBody {
    position: relative;
    height: 35vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;

    background-color: var(--color02);
    
    color: var(--color05);
}

#MainProfile {
    position: absolute;
    left: 5vw;
    top: -20vh;
    height: 40vh;
    width: 60vw;

    z-index: 1;
    
    background-color: transparent;
    
    color: var(--color01);
}

#MainProfile #image {
    position: absolute;
    top: 0vh;
    left: 0vh;
    height: 40vh;
    width: 40vh;
    
    z-index: 1;
    
    background-image: url('./asset/profile.jpg');
    background-position: center;
    border-radius: 50%;
    border: 2px solid;
    
    line-height: 40vh;    
    text-align: center;
    color: var(--color01);
}

#MainProfile #text {
    position: absolute;
    left: 40vh;
    bottom: 0vh;
    height: 50%;
    z-index: 1;
    
    background-color: transparent;
    
    text-align: left;
    padding-left: 5vw;
    color: var(--color05);
}

#MainProfile #text #name {
    font-size: 40px;
    max-width: 60vw;
}

#MainFooter {
    position: relative;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    z-index: 1;
    
    background-color: var(--color03);
}

#MainFooter #topic {
    position: absolute;
    top: 2vh;
    left: 4vw;
    height: 5vh;
    width: 40vw;

    display: flex;
    align-items: center;
    z-index: 2;
    
    background-color: transparent;
    
    text-align: left;
    color: var(--color04);
}

#MainCalendar {
    position: inherit;
    top: 15vh;
    left: 5vw;
    height: 70%;
    width: 90%;
}

/* #MainCalendar iframe {
    width: 100%;
    height: 100%;   
} */

.Image {
    height: auto;

    opacity: 0.75;

    transform: scale(1.0);
    animation-name: shrink;
    animation-duration: 0.25s;
}

.Image:hover {
    opacity: 1;

    transform: scale(1.25);
    animation-name: grow;
    animation-duration: 0.25s;
}

@keyframes grow {
    from {
        transform: scale(1.0);
        opacity: 0.75;
    }
    to {
        transform: scale(1.25);
        opacity: 1;
    }
}

@keyframes shrink {
    from {
        transform: scale(1.25);
        opacity: 1;
    }
    to {
        transform: scale(1.0);
        opacity: 0.75;
    }
}